@import "tailwindcss";

@theme {
    --pri-color: #1867FF;
    --sec-color: #B9FF17;
    --accent-color: #FF3917;
    --prim-text-color: #ffffff; 
    /* --sec-text-color: ; */

    --quicksand: 'Quicksand', sans-serif;
    --zain: 'Zain', sans-serif;
    --dongle: 'Dongle', sans-serif;
    --darumadrop-one: 'Darumadrop One', san-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #fafafa;
    scroll-behavior: smooth;
}

@layer components {
    
    main {
        @apply w-full h-[300vh];
    }

    nav {
        @apply flex justify-center items-center w-full fixed z-100 mt-5;

        .nav-content {
            @apply w-[95%] min-h-[70px]  flex flex-row bg-(--pri-color) justify-between items-center px-10 rounded-[50px];
            box-shadow: 0 2px 5px var(--pri-color);
        }
        

        .logo {
            @apply flex flex-row justify-center items-center gap-[10px];
            
            p {
                @apply text-(--prim-text-color) font-bold font-(family-name:--dongle) text-3xl pt-0.5;
            }

            svg {
                @apply text-(--sec-color) w-[25px] h-[25px];
            }
        }

        ul {
            @apply flex flex-row gap-4;

            li {
                a {
                    @apply text-(--prim-text-color) font-(family-name:--zain) text-lg
                }
            }
        }  
    }

    #home {
        @apply w-full min-h-dvh pt-[200px] flex flex-col items-center gap-20 relative;

        .intro {
            @apply w-full flex flex-col items-center gap-20;

            h1 {
                @apply font-(family-name:--darumadrop-one) w-[60%] text-6xl text-center
            }

            p {
                @apply font-(family-name:--quicksand) text-2xl w-[50%] text-center;
            }
        }

        img {
            @apply w-[70%] rounded-4xl;
            box-shadow: 0 0 15px var(--pri-color);
        }
    }
}