---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Welcome from '../components/Welcome.astro';
import About from '../components/About.astro';
---

<Layout>
	<main>
		<Nav />
		<Welcome />
		<About />
	</main>
</Layout>

<script>
	window.onload = () => {
		window.scrollTo(0, 0)
	}
</script>