<section id="home">
	<div class="intro">
		<h1>Gestión de Nómina Inteligente: Menos Excel, Más Eficiencia.</h1>
		<p>Automatiza el pago de tus colaboradores, cálculos de ley y seguridad social en un solo lugar. Cumplimiento legal garantizado sin complicaciones.</p>
		<button>Conoce más</button>
	</div>
	<img src="/images/reference.png" alt="NominApp dashboard screenshot" draggable="false">
</section>